@import url (https://fonts.googleapis.com/css?family=Droid+Serif);
@import url (https://fonts.googleapis.com/css?family=Lato);
* { margin: 0; padding:0; box-sizing:border-box;}
body {
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-size:20px;
	/*background: url("../images/Porch_Neat_Shadow.jpg");*/
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	/*background-color: white;*/
}

header {
	/*max-width:em;*/
	/*margin: auto;* what does this mean?/
	/*padding: .25em 1em 0 1em;*/
	/*background-color: #FFED74;*/
	/*border: 1px black solid;*/
	padding: 1em .25em;
}

nav {	
	/*background-color: #E8C66A;*/
	/*border: 1px black solid;*/
	padding: 0em 1em;
}
nav a{
	color: gray;
	text-decoration: none;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
	font-weight: 600;
	font-size: .9em;
	font-family: Helvetica, sans-serif;
	padding: .5em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: 800;
	color: rgba(0, 0, 0, .75);
	line-height:1;
	margin-bottom:.5em;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size:1.5em;
	font-weight: 800;
	color: rgba(0, 0, 0, 1);
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size:1em;
	font-weight: 800;
	color: rgba(0, 0, 0, 1);
}

a {
	color: orange
}

p {
	margin: .8em 0;
}


.right-header {
	float:right;
	/*text-align: right;* when is this appropriate?/
	color: gray;
	text-decoration: none;
	font-weight: 600;
	font-style: Helvetica, sans-serif;
	/*padding: .75em .5em; what is the em being applied to?*/
	padding: .6em;
	word-spacing: .2em;
}

#logo {
	text-transform: uppercase;
	color: orange;
	font-size: 1.5em;
	font-weight: 800;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: .2em;
}

#logo a{
	text-decoration: none;
}

#services-section {
	color: rgba(0, 0, 0, 1);
	line-height: 1.5;
	/*background-color: #222;*/
	/*border: 1px black solid;*/
	padding: 1em;
}

.slogan {
	/*font-family: 'Droid Serif', serif;*/
	font-size: 1.5em;
	/*font-weight: 800;*/
	color: rgba(0, 0, 0, .75);
	padding: 0em;
}

.focal-point {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: 800;
	color: rgba(0, 0, 0, .75);
	line-height: 1.4;
	padding: 0em;

}

#industries-section {
	/*padding:2.5em 20em;*/
	line-height: 1.5;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 1);
	/*background-color: #FFE2B8;*/
	/*border: 1px black solid;*/
	padding: 1em;
}

#aboutus-section {
	/*padding:2.5em 5em;*/
	/*max-width:40em;*/
	/*text-align: justify; why is this bad?*/
	color: rgba(0, 0, 0, 1);
	font-size: 1.5em;
	line-height: 1.5;
	background: url();
	/*border: 1px black solid;*/
	padding: 1em;
}

.hero-services img {
	max-width: 100%;	
}

.hero-services{
	display: block;
	height: 18em;
	background: url("../images/windows.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-industries{
	display: block;
	height: 18em;
	background: url("../images/windows.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-about{
	display: block;
	height: 18em;
	/*background: url("../images/Porch_Neat_Shadow.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-services{
	display: block;
	height: 18em;
	background: url("../images/windows.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.secondary-header {
	padding: 3em;
	color: white;
	text-indent: 1em
}

.secondary-header h1 {
	color: white;
}

.secondary-text {
	/*background-color: #FFE2B8;*/
	/*border: 1px black solid;*/
	padding: 2em 10em 2em 8em;
	line-height: 1.3;
	color: gray;
	text-align: justify;
}

.location-wrapper {
	/*border: .5px solid black;*/
	/*background: gray;*/
	/*color: #fff;what does the overflow do*/
	overflow: auto;
	margin: 1.5em 0;
}

.location-map {
	background: url("../images/office_map.png");
	height: 35em;
	width: 50%;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}

#location-map img {
	max-width: 100%;}

.contact-text {
	float: right;
	width: 50%;
	/*background-color: #E55B88;*/
	padding: 2em 10em;
	color: gray;
}

.contact-text h2 {
	color: orange;
}

footer {
	/*background-color: #FFB7CF;*/
	/*border: 1px black solid;*/
	padding: 1em;
	clear: both;
}

#footer-left {
	/*background-color: #E582A2;*/
	/*border: 1px black solid;*/
	padding: 0;
	font-size: 1em;
	/*float: left;*/
	width: 62%;
	color: gray;
	font-weight: 500;
}

#footer-left a {
	color: orange;
	text-decoration: bold;
}


/*#footer-right {*/
	/*background-color: #E55B88;*/
	/*border: 1px black solid;*/
	/*padding: 0;*/
	/*float: right;*/
	/*width: 30%;*/
/*}*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;	
}

address {
	font-size: 1em;
	color: gray;
	font-style: normal;
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 1120px) {
	.right-header {
		float: none;
		width: auto;
		margin: 0;
		padding: .6em .2em;
		}
}

@media only screen and (max-width: 1020px) {
	.focal-point {
		font-size: 1.5em;
		}
	h1 {
		font-size: 1.5em;	
	}
	h2 {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 480px) {
  .right-header {
    display: block; 
    text-align: left;
  }
  .focal-point{
  	font-size: 1em;
  }

  a {
  	display: block;
  }

  h1{
  	font-size: 1em;
  }
  h2 {
  	font-size: .9em;
   }
  p {
  	font-size: .7em;
  }
}


