* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #fff;
	font-family: Helvetica, arial, sans-serif;
	font-size:20px;
}
header {
	max-width:60em;
	margin:auto;
}
nav {
	float:right;
}
nav a{
	/*text-tran
	sform: uppercase;*/
	color: gray;
	text-decoration: none;
	font-weight: 700;
	/*padding-left: 1400px;*/
	/*padding-top: 0px;*/
	/*padding-bottom: 10px;*/
}
h1 {
	font-size: 3em;
	font-weight: 800;
	color: rgba(0, 0, 0, .75);
	line-height:1;
	margin-bottom:.5em;
}

h2 {
	font-size:1.5em;
	font-weight: 800;
	color: rgba(0, 0, 0, .75);
}
a {
	color: orange
}
.total-header {
	padding:1em 0;	
}

.left-header {
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;	*/
	float: left;
}

#logo {
text-transform: uppercase;
color: orange;
font-size: 28px;
font-weight: 800;
float:left;
}




.slogan {
font-size: 1.5em;
font-weight: 800;
/*font-style: italic;*/
color: rgba(0, 0, 0, .75);
}



#services-header {
padding:5em 0;
color: rgba(0, 0, 0, 1);
line-height: 1.5;
/*color: rgba(255, 255, 255, 1);*/
/*background-image: url("../images/Man_At_Work.jpg");*/
/*background-size: 100%;*/
}

#industries-header {
text-align: justify;
font-size: 36px;
padding-left: 850px;
padding-right: 300px;
padding-bottom: 180px;
color: rgba(0, 0, 0, 1);
line-height: 1.5;
}

#aboutus-header {
text-align: justify;
font-size: 36px;
padding-left: 200px;
padding-right: 300px;
padding-bottom: 180px;
color: rgba(0, 0, 0, 1);
line-height: 1.5;
}



.total-footer {
padding-top: 20px;
padding-bottom: 20px;	
}

.footer-left {
float: left;
padding-left: 160px;
/*padding-bottom: 20px;*/
font-size: 20px;
}

.footer-left a {
color: orange;
text-decoration: none;	
}
 
.footer-right {
/*text-transform: uppercase;*/
color: black;
font-size: 20px;
font-weight: 500;
float: right;
/*padding-bottom: 20px;*/
padding-right: 60px;
}
